@import "variables";

.ad-search {
  @include display-flex;
  @include justify-content-space-between;
  @include flex-direction-row;
  padding: 0;
  @include media("<desktop") {
    @include flex-direction-column-reverse;
    div {
      @include box-sizing(border-box);
    }
  }
}

.ad-search__result {
  width: 75%;
  padding: 30px 20px 50px 50px;
  @include media("<desktop") {
    width: 100%;
    padding: 30px 40px;
  }
  .categories__list {
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.ad-search__form {
  width: 25%;
  padding: 30px;
  @include media("<desktop") {
    width: 100%;
  }
}

.ad-search__item {
  @include display-flex;
  border-bottom: 1px solid $placeholder;

  margin: 1em 0 2em;
  padding-bottom: 20px;

  @include media("<tablet") {
    @include flex-direction-column;
    div {
      @include box-sizing(border-box);
      width: 100%;
    }
  }
}


.ad__image {
  @include media("<tablet") {
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 250px;
  }

  a {
    border: 1px solid $placeholder;
    display: block;
    padding: 5px;
  }

  img {
    width: 150px;
    @include media("<tablet") {
      width: 100%;
    }
    display: block;
    overflow: hidden;
  }
}

.ad__text {
  @include display-flex;
  @include justify-content-space-between;
  @include flex-direction-column;

  padding: 0 30px;
  font-size: 90%;
  min-height: 170px;

  @include media("<tablet") {
    padding: 15px 0;
    min-height: 250px;
  }

  h2 {
    margin: 0;

    a {
      color: $textColor;
    }
  }
}

.ad__category {

}

.ad__text-group {
  color: $placeholder;
}

.ad__price {
  font-weight: bold;
  font-size: 140%;
}

.ad__buttons {
  a {
    display: inline-block;
    padding-right: 20px;
  }

}

.ad-search__pagination {
  text-align: center;

  ul {
    padding: 0;
  }

  .page-item {
    display: inline-block;
    padding: 5px;
  }
}

.form-search {

  label {
    display: block;
  }

  select, input[type="text"] {
    width: 100%;
  }

  .btn {
    width: 100%;
    padding: 15px 3px;
  }
}