@import "variables";

.alert {
  margin-top: 10px;
  padding: 15px 25px;
  border: 1px solid transparent;
  @include border-radius(4px);
  @include media("<=desktop") {
    margin: 10px 15px 0;
    width: auto;
    max-width: 100%;
  }
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}