@import "variables";


.ad-view {
  .ad__control {
    padding-top: 1em;
    a {
      margin-right: 1em;
    }
  }
}

.ad-view__header {
  @include display-flex;
  @include justify-content-space-between;

  @include media("<desktop") {
    @include flex-direction-column;
  }

  border-bottom: 1px solid $placeholder;

  padding: 10px 0;
  h1 {
    margin: 0 0 2px;
    font-weight: normal;
  }
  .line {
    color: $placeholder;
    font-size: 90%;
  }
  .price {

    font-size: 170%;
    font-weight: bold;

    @include media(">=desktop") {
      @include display-flex;
      @include align-items-center;
    }

    @include media("<desktop") {
      @include align-content-center;
      text-align: center;
      padding: 15px  0 10px;
      font-size: 130%;

    }
  }
}
.ad-view__body {
  @include display-flex;
  padding: 10px 0;

  .values__item {
    padding: 5px 0;
    .label {
      font-weight: bold;
    }
    .label::after {
      content: ":";
    }
  }
  @include media("<desktop") {
    @include flex-direction-column-reverse;
  }
}

.ad-view__contact {
  @include media("<desktop") {
    border-bottom: 1px solid $placeholder;
    padding-bottom: 20px;
  }
}

.ad-view__column:first-child {
  padding-right: 30px;
  @include media(">=desktop") {
    width: 80%;
  }
}

.ad-view__text {
  padding: 10px 0 40px;

  border-bottom: 1px solid $placeholder;
}

.ad-view__add-info {
  border-bottom: 1px solid $placeholder;
  padding-bottom: 20px;
}

.ad-view__experiences {
  padding-bottom: 20px;
  border-bottom: 1px solid $placeholder;
}

.ad-view__educations {
  padding-bottom: 20px;
  border-bottom: 1px solid $placeholder;
}

.ad-view__photos {
  text-align: center;
  padding: 20px 0;
  img {
    max-width: 100%;
  }
}