@import "variables";

.breadcrumb {
  font-size: 90%;
  min-height: 30px;
  //background-color: $breadcrumbsBackgroundColor;
}

.breadcrumb__container {
  padding: 10px 15px;
  background: none;
  margin-bottom: 0;
  @include display-flex;
  @include flex-wrap-wrap;
  @include align-items-center;
  list-style-type: none;
  color: $textColor;
}

.breadcrumb__container > li:after {
  padding: 0 5px;
  color: $textColor;
  content: "/\00a0";
}

.breadcrumb__container > li:last-child:after, .breadcrumb__container .active:after {
  content: "";
}

.breadcrumb__link {
  @include display-flex;
  @include align-items-center;
  padding: 3px 0;
}

.breadcrumb__link a {
  color: $textColor;
  text-decoration: none;
}

.breadcrumb__link a:hover, .breadcrumb__link a:focus {
  text-decoration: underline;
}

.breadcrumb__link_active {
  color: $textColor;
}