@import "variables";

.btn {
  @include border-radius(15.5px);
  padding: 5px 15px;
  text-decoration: none;
}

.btn-green, .btn-green:visited {
  background-color: $green;
  border: 1px solid $white;
  color: $white;
}

.btn-green:focus, .btn-green:hover {
  background-color: $white;
  color: $green;
  border: 1px solid $green;
}

.btn-orange, .btn-orange:visited {
  background-color: $orange;
  border: 1px solid $white;
  color: $white;
}

.btn-orange:focus, .btn-orange:hover {
  background-color: $white;
  color: $orange;
  border: 1px solid $orange;
}

.btn-red, .btn-red:visited {
  background-color: $danger;
  border: 1px solid $white;
  color: $white;
}

.btn-red:focus, .btn-red:hover {
  background-color: $white;
  color: $danger;
  border: 1px solid $danger;
}