@import "variables";

.footer {
  @include shadowTop;
  background-color: $white;
  color: $textColor;
  font-weight: bold;

  a {
    color: $textColor;
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  @include media("<tablet") {
    font-size: 90%;
  }
}

.footer__menu {
  padding: 0;
  list-style: none;
  @include display-flex;
  @include justify-content-space-around;
  @include align-items-center;
  @include flex-wrap-wrap;

  li {
    padding: 10px 10px;
    //height: 40px;
  }
}

.footer__copyright {
  text-align: center;
  border-top: 1px solid $footerGrey;

  @include display-flex;
  @include justify-content-center;
  @include align-items-center;
}

.footer__copyright {
  height: 40px;
}