@import "variables";

.form {
  @include box-sizing(border-box);

  label {
    color: $placeholder;
  }

  .help-block {
    display: block;
    margin-top: 7px;
    font-size: 80%;
  }

  input[type="email"], input[type="text"], input[type="tel"], input[type="password"], textarea {
    @include box-sizing(border-box);
    height: 40px;
    text-indent: 10px;
    border: 1px solid $formInputBorder;
    color: $textColor;
  }

  select {
    @include box-sizing(border-box);
    height: 40px;
    color: $textColor;
  }

  .form-group {
    margin-top: 15px;
  }

  .required {
    label:after {
      content: " *";
      color: $formError;
    }
  }

  .form-group__checkbox {
    .checkbox {
      @include display-flex;
      @include align-content-center;
      label {
        color: $textColor;
      }
      input[type="checkbox"] {
        margin-right: 0.7em;
      }
    }

  }

  .has-error {
    label, .help-block {
      color: $formError;
    }
    input[type="email"], input[type="text"], input[type="tel"], input[type="password"], textarea, select {
      border-color: $formError;
    }
  }


}

.single-form {

  margin: 0 auto;
  @include media('<tablet') {
    width: 100%;
    padding: 30px;
  }

  @include media('>=tablet') {
    min-width: 400px;
    padding: 50px;
  }

  h1 {
    font-size: 140%;
    text-align: center;
  }

  .form-group__input {
    label {
      display: block;
      margin-bottom: 5px;
    }
  }

  span, input[type="email"], input[type="text"], input[type="tel"], input[type="password"], textarea, select {
    display: block;
  }

  input[type="email"], input[type="text"], input[type="tel"], input[type="password"], textarea, select {
    width: 100%;
  }

  .btn {
    width: 100%;
    height: 40px;
    @include border-radius(5px);
  }

  .form-link {
    line-height: 1.6;
  }
}

.form__ad {
  .form-group__input, .form-group__select {
    label {
      display: block;
      margin-bottom: 5px;
    }
  }

  .form__block {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .form-group {
    margin-top: 2em;
    width: 650px;
    max-width: 100%;
  }

  .form-group__inline {
    @include display-flex;
    @include flex-wrap(wrap);
    > div {
      padding: 0 2px;
    }
    .help-block__hint {
      width: 100%;
    }
  }

  .driver_licence {
    @include display-flex;
    padding: 1em 0 0;
    .checkbox {
      padding-right: 1em;
    }
  }

  input[type="email"], input[type="text"], input[type="tel"], input[type="password"], textarea, select {
    width: 100%;
  }

  textarea {
    text-indent: 0;
    padding: 5px;
    height: 300px;
  }
}
