@import "variables";

.green {
  color: $green;
}

.upper {
  text-transform: uppercase
}

.lower {
  text-transform: lowercase;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/* ==========================================================================
   Elements
   ========================================================================== */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.page {
  color: $textColor;
  background-color: $backgroundGrey;
  @include font-Roboto;
  font-size: 16px;

  min-width: 320px;
  min-height: 100%;

  @include display-flex;
  @include flex-direction-column;
  @include flex-grow(1);
}

.page__content {
  @include display-flex;
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
  @include flex-direction-column;
}

.container {
  padding: 0 15px;
  width: 100%;
  @include box-sizing(border-box);
  max-width: 1400px;
  min-width: 290px;
  margin: 0 auto;
}

a, a:visited {
  color: $hyperlink;
}

a:hover, a:focus {
  color: $textColor;
}

.logo {
  text-decoration: none;
  line-height: 1;
  @include media(">=desktop") {
    &, img {
      height: 30px;
    }
  }
  @include media(">=tablet", "<desktop") {
    &, img {
      height: 25px;
    }
  }


}