@import "variables";

.home__city-list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    display: inline-block;
    :after {
      content: ", ";
    }
  }
  li:first-child {
    display: block;
    font-weight: bold;
    :after {
      content: none;
    }
  }
  li:last-child {
    :after {
      content: none;
    }

  }
}