@import "variables";

.header {
  @include shadowBottom;
}

.header__first-line {
  color: $headerGrey;
  background-color: $textColor;
  @include display-flex;
  @include justify-content-space-between;
  @include align-items-center;

  @include media(">=desktop") {
    height: 40px;
    font-size: 90%;
  }

  @include media(">=tablet", "<desktop") {
    height: 30px;
    font-size: 81%;
  }

  @include media("<tablet") {
    display: none;
  }

  a {
    color: $headerGrey;
    text-decoration: none;
  }

  a:hover, a:focus {
    span {
      text-decoration: underline;
    }

  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li {
    display: inline-block;
    padding: 0 15px;
  }
}

.header__second-line {
  background-color: $white;

  .container {
    @include display-flex;
    @include align-items-center;
    @include justify-content-space-between;

    @include media(">=desktop") {
      height: 70px;
    }

    @include media(">=tablet", "<desktop") {
      height: 60px;
    }

    @include media("<tablet") {
      height: 44px;
      padding: 0;
    }
  }

  .logo {
    padding: 0 15px;
  }

  .search {
    display: none;
    margin: auto;
  }

  .btn-add {
    text-decoration: none;
    .btn {
      padding: 6px 25px;
      @include media("<tablet") {
        display: none;
      }
    }
  }

  .icon {
    display: block;
    height: 44px;
    width: 44px;
    @include media(">=tablet") {
      display: none;
    }
  }

  .icon-burger {
    background: url(../images/burger.svg) center center no-repeat;
  }

  .icon-add {
    background: url(../images/add.svg) center center no-repeat;
  }
}