@import "variables";

.page__content {
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
  @include flex-direction-column;
}

.page__content_center {
  @include align-items-center;
  padding: 0 10px;
}

.main {
  background-color: $white;
  @include shadowCenter;
  @include display-flex;
}

.main_single {
  width: 90%;
  max-width: 450px;
  @include media(">=tablet") {
    margin: 50px auto;
  }
  @include media("<tablet") {
    margin: 30px auto 50px;
  }
}

.main_full {
  background-color: $white;
  @include shadowCenter;
  @include display-flex;

  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);
  @include flex-direction-column;

  margin-bottom: 30px;
  padding: 30px 50px 50px;
  @include media("<tablet") {
    padding: 30px 20px 50px;
  }

}

.article {
  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
  }
  ul, ol {
    margin: 0;
    padding-left: 20px;
    li {
      margin: 0.5em 0;
    }
  }
}

.categories__list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: 0.5em 0;
  }
}