@import "~include-media/dist/include-media";
@import "~sass-flexbox/src/sass-flexbox";

$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 1024px
);


/* ==========================================================================
   Fonts
   ========================================================================== */

@mixin font-Roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin font-Arial {
  font-family: Arial, sans-serif;
}

@mixin font-FredokaOne {
  font-family: 'Fredoka One', cursive;
}

/* ==========================================================================
   Functions
   ========================================================================== */
@mixin border-radius($radius) {
  //behavior: url(../pie/PIE.htc);
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($boxSizing) {
  -webkit-box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  box-sizing: $boxSizing;
}

@mixin oneStringHeight($height) {
  line-height: $height;
  height: $height;
}

@mixin shadowBottom {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin shadowCenter {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin shadowTop {
  -webkit-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin shadowNone {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ==========================================================================
   Colors
   ========================================================================== */
$logoBlack: #3A2828;
$white: #FFFFFF;
$green: #20B826;
$orange: #FFA318;
$grey: #ECECEC;
$textColor: #333333;
$placeholder: #969696;
$formInputBorder: #C3C8CA;
$formError: #BD2E24;
$formSuccess: #41A545;
$formBorder: #D2D2D2;
$hyperlink: #3D6094;
$backgroundGrey: #ECECEC;
$headerGrey: #BCB7B7;
$footerGrey: #A59E9E;
$danger: #c01010;

$mobileMenuWidth: 80%;

