@import "variables";

.tree {
  font-size: 120%;
  padding: 0;
  margin: 0;
  ul {
    list-style: none;
    padding-left: 1em;
  }
}

.tree__item {
  @include display-flex;
  //@include justify-content-space-between;
  padding: 4px 0;
}

.tree__item:hover {
  background: rgba(0,0,0,0.2);
}

.tree__cursor::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.tree__cursor_down::before {
  transform: rotate(90deg);
}

.tree__nested {
  display: none;
}

.tree__nested_active {
  display: block;
}

.table-align-middle {
  tr, td, > tbody > tr > td {
    vertical-align: middle;
  }
}

