<template>
    <section class="add-form">
        <form @submit.prevent="submitForm" method="POST">

        </form>
    </section>
</template>
<script>
    export default {
        data() {
            return {
                errors : {},
                form: {
                    csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                }
            }
        },
        methods: {
            submitForm() {

            },
            validateForm() {

            }
        }
    }
</script>